.repo {
  background-color: #1f2937; /* Dark gray */
  min-height: 100vh;
  padding: 100px 20px 20px; /* Added padding to the top to ensure it starts further down */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin-top: 64px;
}

.repo-container {
  background-color: rgba(37, 99, 235, 0.2); /* Semi-transparent blue */
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  backdrop-filter: blur(10px); /* Glass effect */
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.repo h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.repo-list {
  list-style: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

.repo-item {
  background-color: rgba(37, 99, 235, 0.2); /* Semi-transparent blue */
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  backdrop-filter: blur(10px); /* Glass effect */
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.repo-name {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  text-decoration: none;
}

.repo-description {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.8);
}
