.header {
    background-color: #350A08;
    color: #dadada;
    padding: 20px;
    text-align: center;
}

.header-title {
    margin: 0;
    font-size: 32px;
    margin-bottom: 10px;
}

.header-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header-link:hover {
    background-color: #ddd;
}